/build/
/build-*/
/cmake-build-*/
/.release-staging/
/dist/
/.cache/
/.vscode/
/.idea/
__pycache__/
*.py[cod]
*.tmp
*.checkpoint.latest.cgns
*.checkpoint.step*.cgns
*.user
*.suo
*.obj
*.o
*.exe
/glm_test/
